{% extends 'base.html' %}
{% load static %}




<!--{% block lhs-content %}-->
<!-- <h4>xxxxx</h4>-->
<!--{% endblock lhs-content %}-->

{% block main-content %}

                                    <!--Fleet Categories -->
     <h4 class="text-center">Browse by Categories</h4>
    <div class="d-flex flex-wrap bg-secondary border-bottom border-top" >
        <div class=" category card m-2" style="width: 14.5rem;">
            <a class="pl-3" href=""> <img src="media/defaults/sedan1.jpg" style="width: 200px; height: 100px;padding: 2px;">
            <p class="text-center">Sedan</p></a>
        </div>
        <div class=" category card m-2" style="width: 14.5rem;">
            <a class="pl-3" href=""> <img src="media/defaults/coupe2.jpg" style="width: 200px; height: 100px;padding: 2px;">
            <p class="text-center">Coupe</p></a>
        </div>
        <div class=" category card m-2" style="width: 14.5rem;">
            <a class="pl-3" href=""> <img src="media/defaults/suv4.jpg" style="width: 200px; height: 100px;padding: 2px;">
            <p class="text-center">SUV</p></a>
        </div>
        <div class=" category card m-2" style="width: 14.5rem;">
            <a class="pl-3" href=""> <img src="media/defaults/hatchback1.jpg" style="width: 200px; height: 100px;padding: 2px;">
            <p class="text-center">Hatchback</p></a>
        </div>
        <div class=" category card m-2" style="width: 14.5rem;">
            <a class="pl-3" href=""> <img src="media/defaults/van.jpg" style="width: 200px; height: 100px;padding: 2px;">
            <p class="text-center">Van</p></a>
        </div>
        <div class=" category card m-2" style="width: 14.5rem;">
            <a class="pl-3" href=""> <img src="media/defaults/swagon1.jpg"style="width: 200px; height: 100px;padding: 2px;">
            <p class="text-center">Station Wagon</p></a>
        </div>
        <div class=" category card m-2" style="width: 14.5rem;">
            <a class="pl-3" href=""> <img src="media/defaults/convertible1.jpg" style="width: 200px; height: 100px;padding: 2px;">
            <p class="text-center">Convertible</p></a>
        </div>

        <div class=" category card m-2" style="width: 15rem;">
            <a class="pl-3" href=""> <img src="media/defaults/sports1.jpg" style="width: 200px; height: 100px;padding: 2px;">
            <p class="text-center">Sports car</p></a>
        </div>
    </div>
</br></br>



                                <!--Partner Agencies-->
     <h4 class="text-center">Partner Agencies</h4>
    <div class="d-flex flex-wrap bg-secondary">
       <div class=" category card m-2" style="width: 15rem;">
            <a class="pl-3" href=""> <img src="media/defaults/background1.jpg" style="width: 200px; height: 100px;padding: 2px;">
            <p class="text-center">Sports car</p></a>
        </div>
         <div class=" category card m-2" style="width: 15rem;">
            <a class="pl-3" href=""> <img src="media/defaults/background1.jpg" style="width: 200px; height: 100px;padding: 2px;">
            <p class="text-center">Sports car</p></a>
        </div>
         <div class=" category card m-2" style="width: 15rem;">
            <a class="pl-3" href=""> <img src="media/defaults/background1.jpg" style="width: 200px; height: 100px;padding: 2px;">
            <p class="text-center">Sports car</p></a>
        </div>
         <div class=" category card m-2" style="width: 15rem;">
            <a class="pl-3" href=""> <img src="media/defaults/background1.jpg" style="width: 200px; height: 100px;padding: 2px;">
            <p class="text-center">Sports car</p></a>
        </div>
    </div>

{% endblock %}