{% extends 'base.html' %}

{% block main-content %}
    <div class="terms bg-light" style="margin-left: 5%; margin-right: 5%">
        <h3 class="border-bottom mb-4 p-2">Terms and Conditions</h3>
        <div class="terms-items bg-white p-3">
            <h6>1. Introduction</h6>
            <p class="mb-2 text-justify">
                These Website Standard Terms and Conditions written on this webpage shall manage your use of this
                website.
                These Terms will be applied fully and affect to your use of this Website. By using this Website, you
                agreed
                to
                accept all terms and conditions written in here. You must not use this Website if you disagree with any
                of
                these
                Website Standard Terms and Conditions.
            </p>
            <!--    </br>-->
            <h6> 2. Intellectual Property Rights</h6>
            <p class="text-justify">Other than the content you own, under these Terms, Rent-A-Ride and/or its licensors
                own
                all the intellectual
                property
                rights and materials contained in this Website.
                You are granted limited license only for purposes of viewing the material contained on this Website.</p>
            <h6>3. Your content</h6>
            <p>
                In these Website Standard Terms and Conditions, “Your Content” shall mean any audio, video text, images
                or
                other
                material you choose to display on this Website. By displaying Your Content, you grant Rent-A-Ride a
                non-exclusive,
                worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and
                distribute it
                in
                any and all media.

                Your Content must be your own and must not be invading any third-party’s rights. Motors reserves the
                right
                to
                remove any of Your Content from this Website at any time without notice.
            </p>

            <h6> 4. Variation of Terms</h6>
            <p class="text-justify">
                Rent-A-Ride is permitted to revise these Terms at any time as it sees fit, and by using this Website you
                are
                expected to review these Terms on a regular basis.

            </p>


        </div>
    </div>
{% endblock %}